In [1]:
import os
import pandas as pd
import numpy  as np

In [22]:
precsMT = pd.read_excel('PrecsMT_mar-2021.xlsx', sheet_name='PREC', skiprows=3)

In [23]:
renPrec = ['n', 'protocolo', 'cidade', 'requerente', 'situacao', 'natureza',
       'dataApresentacao', 'exercPagto', 'valor']

In [24]:
precsMT.columns = renPrec

In [25]:
precsMT

,n,protocolo,cidade,requerente,situacao,natureza,dataApresentacao,exercPagto,valor
0,1,0070607-36.2015.8.11.0000,Cáceres,IMPERIAL TUR VIAGENS E TURISMO LTDA- ME,Aguardando Pagamento,Comum,01/06/2015,2016,2758538.47
1,2,0002668-05.2016.8.11.0000,Cáceres,LUCILEI GIANINI,Aguardando Pagamento,Alimentar,13/01/2016,2017,165131.21
2,3,0002723-53.2016.8.11.0000,Cáceres,FÁBIO GUSTAVO PEREIRA,Aguardando Pagamento,Alimentar,13/01/2016,2017,65981.84
3,4,0003511-67.2016.8.11.0000,Cáceres,JOÃO NEPOMUCENO MENDES,Aguardando Pagamento,Alimentar,15/01/2016,2017,132676.92
4,5,0003515-07.2016.8.11.0000,Cáceres,NEUZA MARIA DE ARRUDA PINHEIRO,Aguardando Pagamento,Alimentar,15/01/2016,2017,74709.07
...,...,...,...,...,...,...,...,...,...
1707,1708,1003876-31.2021.8.11.0000,Várzea Grande,UDIMAR FERREIRA,Autuado,Comum,09/03/2021,2022,0.00
1708,1709,1003878-98.2021.8.11.0000,Várzea Grande,LUCIANA RAMOS PEREIRA BARRETO,Autuado,Comum,09/03/2021,2022,0.00
1709,1710,1003880-68.2021.8.11.0000,Várzea Grande,JOSEFINA PONCE DE CAMPOS,Autuado,Comum,09/03/2021,2022,0.00
1710,1711,1003881-53.2021.8.11.0000,Várzea Grande,MARINALVA LEOCADIA DE CARVALHO,Autuado,Comum,09/03/2021,2022,0.00
1711,1712,1003882-38.2021.8.11.0000,Várzea Grande,JOSE ANTONIO DA COSTA,Autuado,Comum,09/03/2021,2022,0.00

In [51]:
print(" Total (R$):", f"{precsMT.loc[:, 'valor'].sum().round(2):,}\n", "Processos (Qtde):",  len(precsMT), "\n Potencial (R$):", f"{(len(precsMT)*499*0.6):,} (fator 60%)")

 Total (R$): 655,261,166.52
 Processos (Qtde): 1712
 Potencial (R$): 512,572.8 (fator 60%)