In [1]:
import os
import pandas as pd
import numpy  as np

In [8]:
precsMT = pd.read_excel("PrecsMT_mar-2021.xlsx", sheet_name="PREC")

In [9]:
precsMT

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,n,Protocolo,Cidade,Requerente,Situação,Natureza,Data Apresentação,Exercício de pagto.,Valor (R$)
3,1,0070607-36.2015.8.11.0000,Cáceres,IMPERIAL TUR VIAGENS E TURISMO LTDA- ME,Aguardando Pagamento,Comum,01/06/2015,2016,2758538.47
4,2,0002668-05.2016.8.11.0000,Cáceres,LUCILEI GIANINI,Aguardando Pagamento,Alimentar,13/01/2016,2017,165131.21
...,...,...,...,...,...,...,...,...,...
1710,1708,1003876-31.2021.8.11.0000,Várzea Grande,UDIMAR FERREIRA,Autuado,Comum,09/03/2021,2022,0
1711,1709,1003878-98.2021.8.11.0000,Várzea Grande,LUCIANA RAMOS PEREIRA BARRETO,Autuado,Comum,09/03/2021,2022,0
1712,1710,1003880-68.2021.8.11.0000,Várzea Grande,JOSEFINA PONCE DE CAMPOS,Autuado,Comum,09/03/2021,2022,0
1713,1711,1003881-53.2021.8.11.0000,Várzea Grande,MARINALVA LEOCADIA DE CARVALHO,Autuado,Comum,09/03/2021,2022,0
1714,1712,1003882-38.2021.8.11.0000,Várzea Grande,JOSE ANTONIO DA COSTA,Autuado,Comum,09/03/2021,2022,0